<footer>
    <div class="container pt-5 pb-3">
        <div class="row">
            <div class="col-sm">
                <img loading="lazy" src="/img/logo.svg" width="150px" height="70px" class="d-block" id="logoFooter" alt="logo Guru Das Apostas">
                <p>O Guru das Apostas está aqui para guiá-lo, para melhorar as suas apostas e, em última análise, para defender a transparência no espaço do Jogo Online! É sua responsabilidade garantir que está apostando em operadores licenciados em sua jurisdição. Adoramos apostar, mas fazemos isso com responsabilidade e pedimos que você faça o mesmo!</p>
                <div class="row dflex425">
                    <div class="col-sm">
                        <div class="row">
                            <div class="col">
                                <h4>APOSTAS</h4>
                                <ul>
                                    <li>
                                        <img loading="lazy" src="../../img/icone-cassino.svg" width="25px" height="25px" alt="icone de Cassino">
                                        <a href="/cassinos">CASSINOS</a>
                                    </li>
                                    <li>
                                        <img loading="lazy" src="../../img/icone-bonus.svg" width="25px" height="25px" alt="icone de Bônus">
                                        <a href="/bonus">BÔNUS</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <h4>INFORMAÇÃO</h4>
                                <ul>
                                    <li>
                                        <img loading="lazy" src="../../img/icone-sobrenos.svg"  width="25px" height="25px"alt="icone Sobre Noós">
                                        <p href="/sobre-nos">SOBRE NÓS</p>
                                    </li>
                                    <li>
                                        <img loading="lazy" src="../../img/icone-blog.svg" width="25px" height="25px" alt="icone Blog">
                                        <a href="/blog">BLOG</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-sm mt-3 selos">
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                        <img loading="lazy" src="../../img/selo-responsabilidade.webp" width="100px" height="100px" alt="selo de responsabilidade">
                    </div>
                    <div class="col d-flex justify-content-center align-items-center">
                        <img loading="lazy" src="../../img/selo-confidencial.webp" width="120px" height="37px" alt="selo confidencial">
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                        <img loading="lazy" src="../../img/selo-avaliacoes.webp" width="120px" height="44px" class="google" alt="selo review Google">
                    </div>
                    <div class="col d-flex justify-content-center align-items-center">
                        <img loading="lazy" src="../../img/selo-ssl.webp" width="120px" height="56px" alt="selo SSL">   
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row afterfooter mt-5">
            <div class="col-sm">
                <a href="politica-privacidade">Política de Privacidade e Cookies</a>
                <a href="termos-condicoes">Termos e Condições</a>
                <a href="jogo-responsavel">Jogo Responsável</a>
            </div>
            <div class="col-sm">
                <p> 2022 &copy Guru das Apostas. Alguns direitos reservados.</p>
                <p>Desenvolvido por <a href="https://gvfwebdesign.com.br" target="_blank"  rel=”nofollow”>Agência GVF</a></p>
            </div>
        </div>
    </div>
</footer>
<style>
    footer {
        background-color: #3E7A96;
        color: #FFF;
        width: 100%;
    }

    footer small {
        display: inline;
    }

    footer a {
        color: #FFF;
        display: inline;
    }

    footer a:hover {
        color: #F5A011;
    }

    footer ul {
        list-style: none;
        padding: 0
    }

    footer ul li {
        display: flex;
        margin: 0 0 20px 0;
    }

    footer ul li p {
        margin: 0
    }

    footer ul li img {
        margin: 0 15px 0 0;
    }

    footer .afterfooter {
        font-size: 0.8rem;
    }

    footer .afterfooter a {
        margin: 0 10px 0 0;
    }

    footer .afterfooter p {
        margin: 0  0 10px 0;
        display: inline;
    }

    footer #logoFooter {
        width: 40%;
        margin: 0 0 25px 0;
        display: inline;
    }

    footer .selos img {
        margin-bottom: 3rem;
    }

    footer .selos .google {
        box-sizing: content-box;
        background-color: #FFF;
        padding: 1rem;
        border-radius: 5px;
    }

    @media(max-width: 550px) {
        footer #logoFooter {
            width: 80%
        }

        footer .afterfooter .col-sm {
            margin-bottom: 15px;
        }
    }

    @media(max-width: 425px) {
        footer .dflex425 {
            display: flex;
        }

        footer .dflex425 .col-sm {
            margin: 15px 0;
        }

        footer .dflex425 .col-1 {
            display: none;
        }
</style>