<main class="mt-3">
    <section class="container my-5">
            <div class="mt-5 d-flex flex-column align-items-center">
                <h1 class="text-center">ERROR 404</h1>
                <img src="/img/error404.webp" width="500px" height="403px" alt="Error 404 image" class="mt-5">
                <a href="/" class="btn btn-info my-5">volte para o início</a>
            </div>
    </section>
</main>
<style>
    header {
        background: #3E7A96 !important;
    }

    main .container img {
        width: 100% !important
    }
</style>