<link rel="stylesheet" href="/css/style3.css">
<main>
    <section id="secao1c">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="branco d-inline">Os melhores<br><span class="verde">cassinos online</span>.</h1>
                </div>
                <div class="col mt-sm-2">
                    <small class="c1">Domine as melhores ferramentas dos sites de apostas e veja quais aspectos deve considerar na hora de fazer uma aposta esportiva vencedora. Saiba tudo sobre as apostas esportivas e fique por dentro das melhores estratégias para vencer qualquer site de aposta!</small>
                </div>
            </div>
        </div>
    </section>

    <section id="secao2c">
        <div class="container">
            <div class="mt-5">
                <div class="row mb-2">
                    <div class="col mb-2">
                        <img src="../img/18.svg" width="36px" height="36px" alt="+18" class="mais18 d-inline">
                        <p class="branco d-inline">Aposte Com Responsabilidade</p>
                    </div>
                    <div class="col excluirCol425"></div>
                </div>
            </div>
            {{#each todosCassinos}}
                {{>_cardCassino}}
            {{else}}
                <h4 class="my-3 mx-3 noinfo">Não há nenhum registro de cassino</h4>
            {{/each}}
        </div>
    </section>

    <section id="secao3c">
        <div class="container">
            <h2>Como escolher um <span class="verde">cassino on-line</span>?</h2>
            <div class="row">
                <div class="col-sm">
                    <img src="" alt="">
                    <h6>Confiança e boa reputação</h6>
                    <p>Um cassino online precisa ser acima de tudo confiável. Pode verificar isso por sua reputação internacional e pela qualidade das licenças que o site possui, além de se informar sobre o que outros jogadores pensam dele.</p>
                </div>
                <div class="col-sm">
                    <img src="" alt="">
                    <h6>Bônus E Promoções</h6>
                    <p>Um cassino online que se preze oferece variedade de Bônus aos jogadores. Mas certifique-se de são de qualidade, ou seja: rollover acessível e valor atrativo. Vale também optar por sites que deem Free Spins!</p>
                </div>
                <div class="col-sm">
                    <img src="" alt="">
                    <h6>Variedade de jogos</h6>
                    <p>Um cassino que oferece centenas ou milhares de jogos é sempre uma boa escolha! Veja a oferta de Slots, de Bingo e de Jogos de Mesa dos sites antes de tomar uma decisão. A sua diversão também conta!</p>
                </div>
            </div>
        </div>
    </section>

    <section id="secao4c">
        <div class="container">
            <div class="row">
                <div class="col excluirCol425"></div>
                <div class="col">
                    <h2 class="mb-2">Como ganhar<br><span class="verde">Bônus de cassino</span>?</h2>
                    <p class="mb-5">Entenda um pouco sobre o que são e como funcionam os Bônus dados pelos cassinos online. Embora em menor variedade do que nos esportes, costumam ter valores bastante altos!</p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm">
                    <p>Os <b>Bônus de Cassino</b> são dados no momento do primeiro cadastro no site para o jogador. Para ganhar o Bônus você precisa se cadastrar em um site de cassino.</p>
                </div>
                <div class="col-sm">
                    <p>O processo de registro é simples: basta clicar em Cadastro e colocar seus dados pessoais. Depois, faça o primeiro depósito e siga o rollover informado nos “Termos e Condições” para receber a bonificação.</p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm">
                     <p>Os Bônus de sites de cassino são bem atrativos. No geral eles funcionam de 2 maneiras: <b>dão um extra em dinheiro</b> em cima do que você depositou ou dão rodadas grátis.</p>
                </div>
                <div class="col-sm">
                    <p>O extra em cima do que você depositou nada mais é do que o Bônus de Boas-Vindas! Por norma, os <b>Bônus de Primeiro Depósito</b> dos cassinos são bastante elevados.</p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm">
                     <p>As rodadas grátis são os <b>giros nas slot machines</b>, também chamadas no Brasil de caça-níqueis. Esse tipo de jogo é um dos mais populares nos cassinos online.</p>
                </div>
                <div class="col-sm">
                    <p>Outro tipo de bônus em cassinos online, embora menos comum, envolve o <b>reembolso de uma porcentagem</b> do que você perdeu. Costuma estar atrelado também às slot machines.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="secao5c">
        <div class="container">
            <h2 class="mb-2">Tipos de <span class="verde-escuro">jogos de cassino</span>.</h2>
            <p class="mb-4">Veja quais jogos de cassino pode jogar online e acesse as melhores dicas para mandar bem neles!</p>

            <div class="row">
                <div class="col-sm">
                    <img src="" alt="">
                    <h6>Slot Machines</h6>
                    <p>As máquinas caça-níqueis são um dos tipos mais populares de jogos de cassino. E você pode se divertir jogando em mais de 1.000 slot machines diferentes nos cassinos online!</p>
                </div>
                <div class="col-sm">
                    <img src="" alt="">
                    <h6>Bingo</h6>
                    <p>Você pode jogar Bingo Online de 2 modos: ou nas salas de Bingo, com as cartelas virtuais ou na versão vídeo, semelhante a uma máquina caça-níquel!</p>
                </div>
                <div class="col-sm">
                    <img src="" alt="">
                    <h6>Raspadinha</h6>
                    <p>A Raspadinha é um jogo apreciado pelos brasileiros. Alguns cassinos online oferecem versões temáticas, coloridas e com bons Jackpots!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <img src="" alt="">
                    <h6>Roleta</h6>
                    <p>A Roleta é um dos jogos mais clássicos dos cassinos online. Você pode jogar Roleta Europeia e Americana, e todas elas possuem versão ao vivo, com um live dealer.</p>
                </div>
                <div class="col-sm">
                    <img src="" alt="">
                    <h6>Poker</h6>
                    <p>É fã do Poker? Grande parte dos cassinos online conta com o Vídeo Poker, que pode ser jogado contra a máquina ou contra outras pessoas, em tempo real.</p>
                </div>
                <div class="col-sm">
                    <img src="" alt="">
                    <h6>Blackjack</h6>
                    <p>Assim como o Poker, o Blackjack, também chamado de 21, é uma ótima opção para quem gosta de um carteado. E é um dos jogos mais rentáveis para os apostadores!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <img src="" alt="">
                    <h6>Keno</h6>
                    <p>O Keno é um jogo semelhante ao Bingo, mas com regras próprias e com um alto nível de risco. Ou seja: é perfeito para quem quer a adrenalina de apostar tudo ou nada.</p>
                </div>
                <div class="col-sm">
                    <img src="" alt="">
                    <h6>Blaze Crash</h6>
                    <p>O jogo Blaze Crash é similar ao jogo do foguete. Consiste em advinhar quando o símbolo da Blaze vai parar de subir em um gráfico com um multiplicador de apostas.</p>
                </div>
                <div class="col-sm">
                    <img src="" alt="">
                    <h6>Jogo do Bicho</h6>
                    <p>O famoso Jogo do Bicho tem uma versão online! A versão em Vídeo, que pode jogar legalmente, é uma máquina caça-níquel com regras semelhante às do Bicho tradicional.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="secao6c">
        <div class="container">
            <h2 class="mb-5">Jogos de <span class="verde-escuro">cassino ao vivo</span></h2>
            <div class="row">
                <div class="col">
                    <p class="mb-5">Uma opção muito procurada é a do cassino ao vivo. Ele simula um cassino físico, com um live dealer (crupiê) guiando os apostadores online. Os melhores jogos são da Evolution Gaming. Mas sites como a LeoVegas e Betfair tem as suas próprias versões!</p>
                    <p class="mb-5">Os Cassinos ao Vivo são uma opção bastante interessante para quem busca, acima de tudo, emoção. <b>Jogar contra um crupiê em tempo real</b>, com todos os efeitos sonoros e visuais de um cassino de verdade, é muito divertido.</p>
                    <p class="mb-5">A principal vantagem desse tipo de jogo é justamente a adrenalina que transmite. Além disso, jogar contra pessoas reais facilita tentar ganhar. Ler uma pessoa é muito mais fácil do que ler uma máquina!</p>
                </div>
                <div class="col excluirCol425">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="secao7c">
        <div class="container">
            <div class="row">
                <div class="col excluirCol425">
                    
                </div>
                <div class="col">
                    <h2 class="mb-2">Situação legal dos cassinos no Brasil</h2>
                    <p class="mb-4">O Brasil deu um grande passo para a legalização dos cassinos e jogos de azar. Em fevereiro de 2022 foi aprovada pela Câmara a A PL 442/91, que é o Marco Regulatório dos Jogos.</p>
                    <p class="mb-4">O texto prevê a legalização dos jogos de azar no Brasil. Mas ainda precisa ser aprovado pelo Senado e sancionado pelo presidente.</p>
                    <p class="mb-4">Ainda assim, o avanço é notório. Afinal, desde 1941, a Lei 3.688, chamada de Lei de Contravenções Penais, determinava que era crime explorar jogos de azar no Brasil.</p>
                    <p class="mb-4">Em 1946 o Decreto 9.215, assinado pelo então Presidente Eurico Gaspar Dutra, reforçou a proibição desse tipo de atividade.</p>
                    <p class="mb-4">Pela Lei Zico, em 1993, os bingos foram permitidos. Financiavam entidades esportivas. A Lei Pelé, em 1998, fortaleceu essa legislação.</p>
                    <p class="mb-4">Em 2000, a Lei 9.981 voltou a proibir todos os jogos de azar. Apenas empresas em funcionamento ficaram abertas, até o fim de suas licenças.</p>
                    <p class="mb-4">Mas em 2004 o ex-Presidente Lula cassou as licenças de mais de 1.000 casas do gênero. Contudo, em 2022, esse cenário está prestes a mudar com a aprovação da PL 442/91.</p>
                    <p class="mb-4">Enquanto não acontece a sanção da Lei, é possível jogar em cassinos online estando no Brasil.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="secao8c">
        <div class="container">
            <h2>Qual o futuro dos cassinos no Brasil?</h2>
            <div>
                <img src="" alt="">
                <h6>Moral e bons costumes impedem a sanção</h6>
            </div>
            <div class="row mb-3">
                <div class="col-sm">
                    <p>Parte do Governo acredita que os jogos de cassino são desonestos, levam ao vício e agridem a família. Argumentos fortes vindos da bancada evangélica.</p>
                </div>
                <div class="col-sm">
                    <p>O atual presidente do Brasil, Jair Bolsonaro, disse que verterá a PL quando chegar até ele, pois a maior base apoiadora do seu Governo é a bancada evangélica. O seu veto pode ser rejeitado ou não pela Câmara.</p>
                </div>
            </div>

            <div>
                <img src="" alt="">
                <h6>Decisão de legalizar agora é realidade</h6>
            </div>
            <div class="row mb-3">
                <div class="col-sm">
                    <p>Desde 2019, o Presidente da Câmara, Arthur Lira, vem defendendo a pauta da legalização dos jogos de azar junto com o Deputado Felipe Carreras, responsável pelo texto-base do Marco Regulatório dos Jogos. Em 2021 um pedido de urgência para votar a PL foi aprovado.</p>
                </div>
                <div class="col-sm">
                    <p>Isso permitiu que em fevereiro de 2022 o texto-base fosse votado e aprovado pela maioria da Câmara. Agora, as apostas e os jogos de azar podem se tornar legais no país. A medida ainda passará pela aprovação do Senado antes de ser enviada para sanção do presidente.</p>
                </div>
            </div>

            <div>
                <img src="" alt="">
                <h6>O que diz o marco regulatório dos jogos</h6>
            </div>
            <div class="row mb-3">
                <div class="col-sm">
                    <p>O texto aprovado permite a exploração de jogos e apostas apenas por empresas mediante a licença concedida pelo Ministério da Economia. Além disso, devem ter em sua denominação social a expressão “entidade operadora de jogos e apostas”.</p>
                </div>
                <div class="col-sm">
                    <p>Os cassinos devem funcionar junto a complexos integrados de lazer, com hotéis, restaurantes, bares e centro de compras. Já as entidades turfísticas devem ser credenciadas pelo Ministério da Agricultura e organizadas na forma de Jockey Clube.</p>
                </div>
            </div>

            <div>
                <img src="" alt="">
                <h6>Apostas em cassinos online ainda são a única opção no Brasil</h6>
            </div>
            <div class="row mb-3">
                <div class="col-sm">
                    <p>Até que a Lei seja sancionada e seja estabelecida a regulamentação dos jogos de azar no país, o jogador brasileiro só consegue jogar legalmente se for online. E em sites hospedados no exterior!</p>
                </div>
                <div class="col-sm">
                    <p>É uma opção enquanto a emoção de jogar em um cassino físico ainda não é possível. Porém é 100% segura se os sites escolhidos para jogar forem confiáveis e com alta reputação no mercado.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="secao9c">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Casas de aposta <br>com bônus grátis</h2>
                </div>
                <div class="col excluirCol425">
                    
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Saiba quais são os sites de apostas que dão Bônus e Apostas Grátis aos seus usuários e quais os valores que você pode receber com eles!</p>
                </div>
                <div class="col excluirCol425">
                </div>
            </div>
            <div class="mt-5">
                <div class="row mb-2">
                    <div class="col mb-2">
                        <img src="../img/18.svg" width="36px" height="36px" alt="+18" class="mais18 d-inline">
                        <p class="branco d-inline">Aposte Com Responsabilidade</p>
                    </div>
                    <div class="col excluirCol425"></div>
                </div>
            </div>
            {{#each bonusCassinos}}
                {{>_cardCassino}}
            {{else}}
                <h4 class="my-3 mx-3 noinfo">Não há nenhum registro de cassino</h4>
            {{/each}}
        </div>
    </section>

   <section id="secao10c">
    <div class="container d-flex justify-content-center py-5">
      <div class="card shadow-sm rounded">
        <div class="card-header">
          <h2 class="p-0 text-center">Dúvidas frequentes</h2>
        </div>
        <div class="card-body">
          <dl class="js-accordion">
            <dt>As apostas esportivas são legais no Brasil?</dt>
              <dd>Atualmente não existe uma legislação definida para as casas de apostas atuarem no Brasil. No entanto a regulamentação está prevista para ocorrer até 2022!</dd>
            
            <dt class="mt-4">Como sei então se uma casa de apostas é confiável?</dt>
              <dd>Verifique acima de tudo se ela possui uma boa licença. Conheça seu histórico, os reviews e pesquise a respeito de todas as vantagens que ela pode lhe oferecer.</dd>
            
            <dt class="mt-4">Quais casas de apostas que não limitam?</dt>
              <dd>Todas as casas de apostas limitam jogadores que ganham muito ou que têm contas inativas. Já “apostadores recreativos” raramente sofrem limites. No caso, vale a pena ler com calma os Termos e Condições dos sites em que se registra.</dd>
            
            <dt class="mt-4"> Como posso fazer um saque em uma casa de apostas?</dt>
              <dd>As casas oferecem diferentes métodos para sacar seu dinheiro. Cartão de Crédito é a opção mais comum, assim como Transferência Bancária. Em alguns casos, Boleto Bancário e Criptomoedas também são boas escolhas.</dd>
            
            <dt class="mt-4">Como funcionam as casas de apostas?</dt>
              <dd>As casas de apostas são bastante simples. Basta fazer o registro no site de sua preferência, realizar um depósito e pronto: você já pode realizar seus palpites à vontade! E não se esqueça de pegar o Bônus de Primeiro Depósito!</dd>
            
            <dt class="mt-4">Quais as melhores casas de apostas?</dt>
              <dd>A Bet365 e a Betano são duas grandes casas de apostas no Brasil. Além delas, a Bodog e a 22bet também são muito recomendadas pelo Guru das Apostas!</dd>
            
            <dt class="mt-4">Quais as casas de apostas com melhores odds?</dt>
              <dd>Todas as casas recomendadas no ponto acima possuem odds acima da média do mercado. Elas oferecem odds promocionais em diversos eventos esportivos, incluindo de Futebol, garantindo ao apostador cotações atrativas todos os dias!</dd>
            
            <dt class="mt-4">Quais as casas de apostas com app?</dt>
              <dd>A maioria das casas de apostas oferecem aplicativos. Recomendamos as casas de apostas com os melhores apps. São elas: Betano, Bet365, Bodog, Betway, LeoVegas e 22bet.</dd>
            
            <dt class="mt-4">Quais casas de apostas aceitam PIX?</dt>
              <dd>O PIX é um método de pagamento muito popular no Brasil, por isso, é comum que as casas de apostas incluam essa opção para os clientes. As melhores casas de apostas que aceitam PIX são: Betway, Betano, Rabona e Betwarrior.</dd>
            
          </dl>
        </div>
      </div>
      
    </div>
  </section>
</main>
<script>
  function initAccordion() {
    const accordionList = document.querySelectorAll('.js-accordion dt');
    const activeClass = 'ativo';
    
    if(accordionList.length) {
      accordionList[0].classList.add(activeClass);
      accordionList[0].nextElementSibling.classList.add(activeClass);

      function activeAccordion() {
        this.classList.toggle(activeClass);
        this.nextElementSibling.classList.toggle(activeClass);
      }

      accordionList.forEach((item) => {
        item.addEventListener('click', activeAccordion);
      });
    }
  }
  initAccordion();
</script>

<style>
  dl dt {
    font-weight: bold;
    color: #254F1A;
    margin-bottom: .5rem;
    cursor: pointer;
  }

  dl dd {
    height: 100%;
    margin-left: 30px;
  }

  .js-accordion dd {
    display: none;
  }

  .js-accordion dt::after {
    content: '⬎';
    margin-left: 10px;
  }

  .js-accordion dt.ativo::after {
    content: '⬏';
  }

  .js-accordion dd.ativo {
    display: block;
    animation: slideDown .5s forwards;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      max-height: 0;
    }
    to {
      max-height: 200px;
      opacity: 1;
    }
  }
</style>