<main>
  {{#if showPolicyPopup}}
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"></div>
      <div class="modal-dialog modal-sm policy-popup">
        <div class="modal-content bg-dark text-light">
          <div class="modal-header">
            <h6 class="modal-title p-0" id="staticBackdropLabel">Política de privacidade e cookies</h6>
          </div>
          <div class="modal-body">
            <p>Ao continuar navegando neste site, você concorda com a nossa política de privacidade e cookies.</p>
          </div>
          <div class="modal-footer">
            <form action="/accept-policy" method="post">
              <button type="submit" class="btn btn-success">Aceitar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <style>
      .policy-popup {
        position: fixed;
        bottom: 0px;
        left: 3%;
        z-index: 999;
      }
    </style>
  {{/if}}
  <section id="secao1" class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="branco d-inline"><span class="verde">Casas De Apostas</span><br> Melhores Casas De Apostas No Brasil<span class="verde">.</span></h1>
        </div>
        <div class="col mt-3">
          <small class="c1">Todas as informações sobre as melhores casas de apostas esportivas no país. Conheça todas as notícias sobre a Lei do Jogo Online no Brasil. Aprenda a se tornar um apostador de alto nível com os nossos guias de apostas gratuitos. Veja as listas dos Bônus que você não pode perder!</small>
        </div>
      </div>
    </div>
  </section>

  <section id="secao2">
    <div class="container">
      <div class="mt-5">
        <div class="row mb-2">
          <div class="col mb-2">
            <img src="../img/18.svg" width="36px" height="36px" alt="+18" class="mais18 d-inline">
            <p class="branco d-inline">Aposte Com Responsabilidade</p>
          </div>
          <div class="col excluirCol425"></div>
        </div>
      </div>
      {{#each todosCassinos}}
        {{>_cardCassino}}
      {{else}}
        <h4 class="my-3 mx-3 noinfo">Não há nenhum registro de cassino</h4>
      {{/each}}
    </div>
  </section>

  <section id="secao3">
    <div class="container py-5">
      <h2 class="mb-4">Informações para <br><span class="verde-escuro">apostar no Brasil</span></h2>
      <div class="row mb-4">
        <div class="d-flex align-items-center gap-2 mb-1">
          <img loading="lazy" src="../img/check-verde.svg" alt="Checked" width="20px" height="20px" class="checkVerde">
          <h3 class="h6 fw-bold m-0 p-0">LEI DE APOSTAS ESPORTIVAS NO BRASIL</h3>
        </div>
        <div class="col">
          <p>Apostar em território brasileiro ainda é ilegal. Mas apostar online em uma casa de apostas hospedada no exterior é totalmente permitido! E a maioria das <b>melhores casas de apostas</b> têm sede fora do Brasil.</p>
        </div>
        <div class="col">
          <p>Hoje as apostas esportivas se enquadram no Brasil na categoria de jogos de azar. Isso vai mudar assim que as apostas de cotas fixas forem regulamentadas no país, o que deve ocorrer até 2022.</p>
        </div>
      </div>

      <div class="d-flex align-items-center gap-2 mb-1">
        <img loading="lazy" src="../img/check-verde.svg" alt="Checked" width="20px" height="20px" class="checkVerde">
        <h3 class="h6 fw-bold m-0 p-0">CASAS DE APOSTAS LEGAIS NO BRASIL</h3>
      </div>
      <div class="row mb-4">
        <div class="col">
          <p>As únicas apostas completamente legalizadas no Brasil são aquelas pertencentes à Loteria Federal. Também existem casas de apostas em cavalos autorizadas pelo Governo para operarem em território brasileiro.</p>
        </div>
        <div class="col">
          <p>É por essa razão que atualmente os apostadores brasileiros frequentam apenas casas de apostas hospedadas no exterior. Como não operam do Brasil, você pode ficar tranquilo ao apostar em uma dessas operadoras.</p>
        </div>
      </div>

      <div class="d-flex align-items-center gap-2 mb-1">
        <img loading="lazy" src="../img/check-verde.svg" alt="Checked" width="20px" height="20px" class="checkVerde">
        <h3 class="h6 fw-bold m-0 p-0">MELHORES CASAS DE APOSTAS</h3>
      </div>    
      <div class="row">
        <div class="col">
          <p>A equipe do Aposta Legal dedicou dezenas de horas avaliando as casas em atuação no Brasil. Hoje afirmamos que as 3 melhores casas de apostas no Brasil são <b>Betano</b>, <b>Bet365</b> e <b>BetWay</b>.</p>
        </div>
        <div class="col">
          <p>Você pode comparar essas casas de apostas entre si e com outras usando o nosso Comparador de Casas de Apostas! Com ele poderá decidir qual a melhor casa para você em vários aspectos!</p>
        </div>
      </div>
    </div>
  </section>

  <section id="secao4">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <h2>Melhores Casas De Apostas</h2>
        </div>
        <div class="col excluirCol425"></div>
      </div>
      <div class="row">
        <div class="col">
          <p>Conheça as melhores casas de apostas em atuação no Brasil! Todas têm alta reputação internacional e trazem plataformas de aposta seguras!</p>
        </div>
        <div class="col excluirCol425"></div>
      </div>
      <div class="mt-5">
        <div class="row mb-2">
          <div class="col mb-2">
            <img src="../img/18.svg" width="36px" height="36px" alt="+18" class="mais18 d-inline">
            <p class="branco d-inline">Aposte Com Responsabilidade</p>
          </div>
          <div class="col excluirCol425"></div>
        </div>
      </div>
      {{#each melhoresCassinos}}
        {{>_cardCassino}}
      {{else}}
        <h4 class="my-3 mx-3 noinfo">Não há nenhum registro de cassino</h4>
      {{/each}}
    </div>
  </section>

  <section id="secao5">
    <div class="container py-5">
      <h2 class="mb-4">Como escolher uma <br><span class="verde-escuro">Casa De Apostas Online?</span></h2>
      <div class="row mb-3">
        <div class="col-sm">
          <div class="d-flex align-items-center gap-2 mb-2">
            <img loading="lazy" src="../img/check-verde.svg" alt="OK" width="20px" height="20px">
            <h3 class="h6 fw-bold m-0 p-0">Licença</h3>
          </div>
          <p class="mb-4">Sabemos que a licença da casa é um ponto muito importante. Os apostadores ficam logo sabendo se a plataforma de apostas é confiável ou não e se vale se registrar nela.</p>
        </div>
        <div class="col-sm">
          <div class="d-flex align-items-center gap-2 mb-2">
            <img loading="lazy" src="../img/check-verde.svg" alt="OK" width="20px" height="20px">
            <h3 class="h6 fw-bold m-0 p-0">Navegação</h3>
          </div>
          <p class="mb-4">Consideramos o aspecto visual outro quesito fundamental. A navegação deve ser intuitiva e responsiva, permitindo que você sempre encontre com facilidade o que procura.</p>
        </div>
        <div class="col-sm">
          <div class="d-flex align-items-center gap-2 mb-2">
            <img loading="lazy" src="../img/check-verde.svg" alt="OK" width="20px" height="20px">
            <h3 class="h6 fw-bold m-0 p-0">Bônus</h3>
          </div>
          <p class="mb-4">Vai se registrar pela primeira vez em uma casa? Então os Bônus são um fator decisivo! E atenção: a casa deve oferecer mais qualidade do que quantidade em suas promoções.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="d-flex align-items-center gap-2 mb-2">
            <img loading="lazy" src="../img/check-verde.svg" alt="OK" width="20px" height="20px">
            <h3 class="h6 fw-bold m-0 p-0">Odds e Mercados</h3>
          </div>
          <p class="mb-4">Um ponto-chave! Uma boa casa de apostas deve ter odds competitivas ou acima da média. E claro: grande variedade de modalidades e de tipos de apostas esportivas.</p>
        </div>
        <div class="col-sm">
          <div class="d-flex align-items-center gap-2 mb-2">
            <img loading="lazy" src="../img/check-verde.svg" alt="OK" width="20px" height="20px">
            <h3 class="h6 fw-bold m-0 p-0">Opções de Pagamento</h3>
          </div>
          <p class="mb-4">Ter boas opções de depósito e de saque é relevante. Ainda mais se forem sem custos extras. Algumas casas de apostas aceitam PIX, método exclusivo do Brasil.</p>
        </div>
        <div class="col-sm">
          <div class="d-flex align-items-center gap-2 mb-2">
            <img loading="lazy" src="../img/check-verde.svg" alt="OK" width="20px" height="20px">
            <h3 class="h6 fw-bold m-0 p-0">Outras Ferramentas</h3>
          </div>
          <p class="mb-4">Convém optar por uma casa com um aplicativo para celulares e com outros complementos, como Cash Out e Live Stream. Isso melhora a experiência do apostador.</p>
        </div>
      </div>
      <div class="py-4 mt-5 excluirCol425">
        <img loading="lazy" class="torcedores" src="../img/img-secao5.webp" width="1296px" height="356px" alt="torcedores usando camisa do Brasil">
      </div>
    </div>
  </section>

  <section id="secao6">
    <div class="container py-5">
      <div class="row">
        <div class="col excluirCol425">
        </div>
        <div class="col">
          <h2>Como ganhar em uma casa de aposta?</h2>
          <p>Primeiro precisa entender o que são odds. A odd é uma cotação que representa a probabilidade de um certo resultado acontecer em um evento esportivo e indica o quanto pode ganhar em uma aposta feita.</p>
          <p>Agora deve buscar apostas esportivas de valor. Essas são aquelas apostas que dão uma maior chance potencial de vencer a casa. Quanto mais valor tem uma aposta, maiores podem ser seus ganhos.</p>
          <p>Tão importante quanto encontrar apostas de valor é gerir bem sua banca. A banca é o dinheiro que você separa para investir nas apostas, por isso deve geri-lo com responsabilidade e com uma estratégia definida.</p>
          <p>Falando em gestão, é muito importante ter gestão emocional. Se além de se divertir você quiser ganhar dinheiro, seu psicológico deve ser forte e resiliente. Nunca aposte com o coração, mas sim com o cérebro!</p>
          <p>É essencial ser realista e ter disciplina em seus jogos. Seja persistente, porém comece devagar e não saia correndo atrás do prejuízo assim que perder uma aposta. As apostas esportivas exigem paciência.</p>
          <p>Uma boa dica é acompanhar os jogos dos seus campeonatos favoritos. Sabendo os resultados dos jogos de hoje e acompanhando os da semana traz mais estatística para dar o seu palpite.</p>
          <p>Acima de tudo, não deixe de estudar. O aprendizado é constante se quiser ser um apostador de alto nível. Todo o sucesso se constrói com suor, e nas apostas esportivas é igual se quiser ter ganhos consistentes.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="secao7">
    <div class="container py-5">
      <h2>Recursos das<br><span class="verde-escuro">Casas De Apostas</span></h2>
      <p class="mb-5">Toda casa de aposta deve oferecer alguns recursos essenciais aos usuários. Entenda quais são e qual sua importância!</p>
      <div class="row">
        <div class="col">
          <div class="mb-5">
            <h3 class="h6 fw-bold mb-0">Cash Out</h3>
            <p>O Cash Out permite encerrar uma aposta antes do fim do evento. Ele pode ser usado para assegurar ganhos e para reduzir prejuízos. Algumas casas, como a BetWay, têm Cash Out Total e Parcial!</p>
          </div>
        
          <div class="mb-5">
            <h3 class="h6 fw-bold mb-0">Live Stream</h3>
            <p>Assistir ao jogo em tempo real facilita a vida do apostador. Casas com Live Stream, como a Bet365, oferecem essa opção! É um recurso que complementa o Cash Out e que é muito útil nas apostas ao vivo!</p>
          </div>
        
          <div class="mb-5">
            <h3 class="h6 fw-bold mb-0">Estatísticas</h3>
            <p>As estatísticas são as melhores amigas dos apostadores. Usá-las pode ajudá-lo a construir uma estratégia vencedora para suas apostas, pois estará se baseando em dados e em fatos.</p>
          </div>
        
          <div class="mb-5">
            <h3 class="h6 fw-bold mb-0">Aplicativos Para Celulares</h3>
            <p>Algumas casas de apostas possuem aplicativos para Android e para iOS. Esse recurso traz mobilidade e facilidade aos apostadores, pois eles podem ter maior controle sobre seus palpites no celular.</p>
          </div>

          <div class="mb-5">
            <h3 class="h6 fw-bold mb-0">Promoções</h3>
            <p>As promoções, como as apostas grátis, são todos os extras que as casas de apostas oferecem aos novos apostadores e aos já cadastrados.</p>
          </div>
        </div>
        <div class="col d-flex align-items-center excluirCol550">
          <img loading="lazy" src="../img/img-secao7.webp" alt="Jogador de futebol">
        </div>
      </div>
    </div>
  </section>

  <section id="secao8">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <h2>Casas De apostas brasileiras</h2>
        </div>
        <div class="col excluirCol425"></div>
      </div>
      <div class="row">
        <div class="col">
          <p>Ainda não temos casas de apostas brasileiras, mas quando a regulamentação ocorrer poderemos ter casas 100% brazucas! Enquanto isso, pode apostar nas melhores casas de apostas no Brasil em 2022!</p>
        </div>
        <div class="col excluirCol425"></div>
      </div>
      <div class="mt-5">
        <div class="row mb-2">
          <div class="col mb-2">
            <img src="../img/18.svg" width="36px" height="36px" alt="+18" class="mais18 d-inline">
            <p class="branco d-inline">Aposte Com Responsabilidade</p>
          </div>
          <div class="col excluirCol425"></div>
        </div>
      </div>
      {{#each brasilCassinos}}
        {{>_cardCassino}}
      {{else}}
        <h4 class="my-3 mx-3 noinfo">Não há nenhum registro de cassino</h4>
      {{/each}}
    </div>
  </section>

  <section id="secao9">
    <div class="container py-5">
      <h2>Seja um <span class="verde-escuro">Apostador Legal</span></h2>
      <p>Torne-se um apostador legal com a gente! Descubra abaixo tudo que é preciso para fazer apostas de sucesso!</p>
      <div class="row quebrarLinhas">
        <div class="col-sm">
          <img loading="lazy" src="../img/icone-guias-secao9.webp" alt="Livro" width="52px" height="52px">
          <h3 class="h6 fw-bold py-2">Blog</h3>
          <p>Siga as nossas dicas e potencialize suas chances de vencer quando fizer apostas esportivas. Aprenda a apostar online com qualidade em Futebol, em Tênis, em Basquete e em várias outras modalidades e esportes.</p>
          <a href="/blog" class="verde-escuro">Blog ></a>
        </div>
        <div class="col-sm">
          <img loading="lazy" src="../img/icone-reviews-secao9.webp" alt="Gráfico" width="52px" height="52px">
          <h3 class="h6 fw-bold py-2">Opiniões Sobre Casas De Aposta</h3>
          <p>Nossa equipe escreve análises e reviews das melhores casas de apostas para os apostadores brasileiros. Saiba o que esperar de cada uma, prós e contras e o que podem oferecer a você em todos os aspectos.</p>
          <a href="#secao2" class="verde-escuro">Reviews ></a>
        </div>
        <div class="col-sm">
          <img loading="lazy" src="../img/icone-bonus-secao9.webp" alt="Presentes e descontos" width="52px" height="52px">
          <h3 class="h6 fw-bold py-2">Bônus Das Casas De Apostas</h3>
          <p>Os Bônus são pacotes oferecidos e dedicados aos novos apostadores que se cadastram nas casas de apostas. Isso é uma oportunidade única para quem está começando, pois dá um boost ao seu jogo!</p>
          <a href="/bonus" class="verde-escuro">Bônus ></a>
        </div>
      </div>
    </div>
  </section>

  <section id="secao10">
    <div class="container py-5">
      <div class="row">
        <div class="col excluirCol425"></div>
        <div class="col">
          <h2>Como Apostar Online<br><span class="verde-escuro">Com Segurança?</span></h2>
          <p class="mb-5">Apostar em casas de apostas só é divertido se você estiver fazendo isso de forma segura, tanto financeira como emocionalmente. Veja dicas que podem ajudar a ter uma experiência tranquila em suas apostas online!</p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-sm">
          <h3 class="h6 fw-bold pb-2">Aposte em casas legalizadas</h3>
          <p>É indispensável que você faça seus jogos somente em casas legalizadas. Elas devem ser licenciadas para oferecerem apostas online. Dê prefência a licenças como as de Malta, Reino Unido e Espanha, que são das que mais fiscalizam essas plataformas.</p>
          <p>É dever de todo apostador praticar o Jogo Online Responsável. Isso significa prezar por casas de apostas fiscalizadas, confiáveis e que atuam sempre ao lado da Lei. Assim você também garante que terá um bom suporte em eventuais problemas ao apostar.</p>
        </div>
        <div class="col-sm">
          <h3 class="h6 fw-bold pb-2">Seja um apostador racional</h3>
          <p>Gerir suas expectativas ao apostar ajuda a manter a saúde psicológica. Não leve tudo a peito, nem aposte como se fosse enriquecer. Principalmente porque as apostas online são uma atividade que envolve um alto grau de risco financeiro.</p>
          <p>É natural que, vez ou outra, você não tenha o sucesso esperado. Portanto, recomendamos que enxergue as apostas como uma atividade lúdica. Busque acima de tudo se divertir e sentir a emoção de fazer palpites nos seus eventos favoritos!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <h3 class="h6 fw-bold pb-2">Defina uma gestão de banca</h3>
          <p>A banca é o dinheiro disponível para apostas. E não convém apostá-lo todo de uma vez! Defina uma estratégia de gestão de banca eficiente, rigorosa e baseada na ciência. Assim, terá certeza de que não vai falir financeiramente logo nos primeiros palpites.</p>
          <p>Existem bons métodos para gerir bem uma banca de apostas. O Critério de Kelly é um dos mais usados, embora seja complexo. Também pode optar pelo Valor Fixo ou pelo Valor Percentual.</p>
        </div>
        <div class="col-sm">
          <h3 class="h6 fw-bold pb-2">Não compartilhe seus dados online</h3>
          <p>Por mais básico que possa parecer, alguns apostadores não seguem essa regra. Apostam em vários dispositivos diferentes, incluindo os de terceiros. Isso é perigoso, pois podem roubar seus dados pessoais e bancários.</p>
          <p>Adote um comportamento defensivo e cuidado ao navegar online. Guarde bem as suas senhas e troque-as com frequência. Evite páginas duvidosas e jamais forneça seus acessos a amigos e familiares.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="secao11">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <h2>Novas casas de apostas</h2>
        </div>
        <div class="col excluirCol425"></div>
      </div>
      <div class="row">
        <div class="col">
          <p>Sempre há novidades no mercado de apostas online brasileiro, isso inclui a presença de novas casas de apostas. Registre-se e teste as mais</p>
        </div>
        <div class="col excluirCol425"></div>
      </div>
      <div class="mt-5">
        <div class="row mb-2">
          <div class="col mb-2">
            <img src="../img/18.svg" width="36px" height="36px" alt="+18" class="mais18 d-inline">
            <p class="branco d-inline">Aposte Com Responsabilidade</p>
          </div>
          <div class="col excluirCol425"></div>
        </div>
      </div>
      {{#each novosCassinos}}
        {{>_cardCassino}}
      {{else}}
        <h4 class="my-3 mx-3 noinfo">Não há nenhum registro de cassino</h4>
      {{/each}}
    </div>
  </section>

  <section id="secao12">
    <div class="container d-flex justify-content-center py-5">
      <div class="card shadow-sm rounded">
        <div class="card-header">
          <h2 class="p-0 text-center">Dúvidas frequentes</h2>
        </div>
        <div class="card-body">
          <dl class="js-accordion">
            <dt>As apostas esportivas são legais no Brasil?</dt>
              <dd>Atualmente não existe uma legislação definida para as casas de apostas atuarem no Brasil. No entanto a regulamentação está prevista para ocorrer até 2022!</dd>
            
            <dt class="mt-4">Como sei então se uma casa de apostas é confiável?</dt>
              <dd>Verifique acima de tudo se ela possui uma boa licença. Conheça seu histórico, os reviews e pesquise a respeito de todas as vantagens que ela pode lhe oferecer.</dd>
            
            <dt class="mt-4">Quais casas de apostas que não limitam?</dt>
              <dd>Todas as casas de apostas limitam jogadores que ganham muito ou que têm contas inativas. Já “apostadores recreativos” raramente sofrem limites. No caso, vale a pena ler com calma os Termos e Condições dos sites em que se registra.</dd>
            
            <dt class="mt-4"> Como posso fazer um saque em uma casa de apostas?</dt>
              <dd>As casas oferecem diferentes métodos para sacar seu dinheiro. Cartão de Crédito é a opção mais comum, assim como Transferência Bancária. Em alguns casos, Boleto Bancário e Criptomoedas também são boas escolhas.</dd>
            
            <dt class="mt-4">Como funcionam as casas de apostas?</dt>
              <dd>As casas de apostas são bastante simples. Basta fazer o registro no site de sua preferência, realizar um depósito e pronto: você já pode realizar seus palpites à vontade! E não se esqueça de pegar o Bônus de Primeiro Depósito!</dd>
            
            <dt class="mt-4">Quais as melhores casas de apostas?</dt>
              <dd>A Bet365 e a Betano são duas grandes casas de apostas no Brasil. Além delas, a Bodog e a 22bet também são muito recomendadas pelo Guru das Apostas!</dd>
            
            <dt class="mt-4">Quais as casas de apostas com melhores odds?</dt>
              <dd>Todas as casas recomendadas no ponto acima possuem odds acima da média do mercado. Elas oferecem odds promocionais em diversos eventos esportivos, incluindo de Futebol, garantindo ao apostador cotações atrativas todos os dias!</dd>
            
            <dt class="mt-4">Quais as casas de apostas com app?</dt>
              <dd>A maioria das casas de apostas oferecem aplicativos. Recomendamos as casas de apostas com os melhores apps. São elas: Betano, Bet365, Bodog, Betway, LeoVegas e 22bet.</dd>
            
            <dt class="mt-4">Quais casas de apostas aceitam PIX?</dt>
              <dd>O PIX é um método de pagamento muito popular no Brasil, por isso, é comum que as casas de apostas incluam essa opção para os clientes. As melhores casas de apostas que aceitam PIX são: Betway, Betano, Rabona e Betwarrior.</dd>
          </dl>
        </div>
      </div>
      
    </div>
  </section>
</main>

<script>
  function initAccordion() {
    const accordionList = document.querySelectorAll('.js-accordion dt');
    const activeClass = 'ativo';
    
    if(accordionList.length) {
      accordionList[0].classList.add(activeClass);
      accordionList[0].nextElementSibling.classList.add(activeClass);

      function activeAccordion() {
        this.classList.toggle(activeClass);
        this.nextElementSibling.classList.toggle(activeClass);
      }

      accordionList.forEach((item) => {
        item.addEventListener('click', activeAccordion);
      });
    }
  }
  initAccordion();
</script>

<style>
  dl dt {
    font-weight: bold;
    color: #254f1a;
    margin-bottom: .5rem;
    cursor: pointer;
  }

  dl dd {
    height: 100%;
    margin-left: 30px;
  }

  .js-accordion dd {
    display: none;
  }

  .js-accordion dt::after {
    content: '⬎';
    margin-left: 10px;
  }

  .js-accordion dt.ativo::after {
    content: '⬏';
  }

  .js-accordion dd.ativo {
    display: block;
    animation: slideDown .5s forwards;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      max-height: 0;
    }
    to {
      max-height: 200px;
      opacity: 1;
    }
  }
</style>
<script defer src="/js/flying-pages.min.js"></script> 
<script> /*FlyingPages*/
  window.addEventListener("load", () => {
    flyingPages({
      delay: 1,
      maxRPS: 3,
      hoverDelay: 50
    });
  });
</script>