<style>
    ol {
        list-style: none;
    }

    ol li {
        color: #000;
    }

    ol a {
        text-decoration: none;
    }
</style>

<main class="container my-5">
    <div class="row">
        <div class="col-3">
            <div class="mt-3">
                <ol>
                    <a href="#habitos"><li>Jogo responsável</li></a>
                    <a href="#comportamento"><li>Comportamentos de risco</li></a>
                </ol>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body p-5">
                    <h1 class="mb-5">Jogo Responsável</h1>

                    <p>Nossa Política de Jogo Responsável está focada em conscientizar os apostadores sobre a importância de adotar as melhores práticas durante suas apostas online. Isso significa adotar uma experiência de jogo baseada na diversão e no entretenimento, em ambientes seguros, confiáveis e transparentes.</p>
                    <p>Da mesma forma, é imprescindível reconhecer a natureza das apostas online enquanto atividades que envolvem riscos financeiros. Justamente por isso, é ainda mais relevante que o apostador tenha atitudes de jogo responsáveis, moderadas e que de forma alguma possam representar perigo financeiro, social e psicológico a ele e àqueles que estiverem em seu círculo.</p>

                    <h2 id="habitos">1. Hábitos que promovem o jogo responsável</h2>
                    <p>O Guru das Apostas recomenda que os apostadores:</p>
                    <ul>
                        <li>Compreendam as regras e particularidades de todos os tipos de apostas que venham a realizar.</li>
                        <li>Estabeleçam um plano de apostas racional, que inclua valores máximos de depósito semanais e que evite o jogo compulsivo.</li>
                        <li>Definam um valor máximo de perdas semanais ou mensais, a fim de controlar os prejuízos financeiros obtidos.</li>
                        <li>Jamais joguem somente para recuperar perdas.</li>
                        <li>Tenham dinheiro próprio separado para apostar e que não faça falta ao orçamento familiar</li>
                        <li>Evitem pedir dinheiro a terceiros para apostar.</li>
                        <li>Joguem com o intuito de se divertirem, nunca objetivando o enriquecimento rápido e fácil.</li>
                        <li>Apostem em estado de sobriedade psicológica e física.</li>
                    </ul>
                    

                    <h2 id="comportamento">2. Identificando comportamentos de risco</h2>
                    <p>Apostar dinheiro é algo sério, mas precisa ser uma experiência que transmita prazer, diversão e que não afete a sua vida pessoal de forma negativa. Contudo, existe o jogo compulsivo, uma realidade responsável por deixar marcas permanentes nas vidas pessoais, profissionais e sociais de apostadores que perdem o controle sobre a sua relação com as apostas.</p>
                    <p>Dessa forma, o Aposta Legal listou alguns comportamentos de risco que todo apostador deve evitar:</p>

                    <ul>
                        <li>Apostar sem parar, ultrapassando os limites financeiros que estabeleceu.</li>
                        <li>Sentir-se mal, ansioso e preocupado quando não está apostando ou pensa em parar de apostar.</li>
                        <li>Tentar parar de apostar e não conseguir.</li>
                        <li>Preocupar-se em demasia em jogar.</li>
                        <li>Jogar durante episódios de depressão, angústia e ansiedade.</li>
                        <li>Voltar a apostar após perdas somente para tentar recuperar o prejuízo imediato.</li>
                        <li>Não falar abertamente sobre seus comportamentos com o jogo.</li>
                        <li>Prejudicar suas relações laborais, familiares, financeiras e amorosas por estar envolvido com apostas.</li>
                        <li>Pedir dinheiro emprestado para cobrir perdas com apostas ou para seguir apostando.</li>
                    </ul>

                    <p>Caso tenha se identificado com pelo menos 4 a 5 dos comportamentos acima, pode estar em risco de jogo compulsivo, sendo esse um risco Pequeno. É recomendável que reveja seus padrões de jogo e mesmo que limite a sua conta no ou nos sites de apostas em que habitualmente joga. Busque rapidamente voltar a adotar hábitos saudáveis de jogo.</p>
                    <p>Caso tenha se identificado com pelo menos 6 a 7 dos comportamentos acima, tem um risco Médio de desenvolver dependência do jogo. É recomendável que pare de jogar prontamente e que recorra à ajuda de familiares, amigos e conhecidos, para ter um suporte afetivo imprescindível em situações como essas.</p>
                    <p>Por fim, caso tenha se identificado com pelo menos 8 dos comportamentos acima, tem um risco Severo de dependência. É recomendável que busque aconselhamento profissional, como o oferecido pelo portal Jogadores Anônimos, que possa auxiliá-lo a diminuir os comportamentos arriscados, evitando prejuízos de ordem financeira e pessoal.</p>
                    
                </div>
            </div>
        </div>
    </div>
</main>